<div class="background_part">
    <div class="header_part">
        <div class="first_anchors">
            <div class="switch_lang"><span class="lang_fr lang_item select"><a href="/edition-2021/" class="no-barba">FR</a></span> / <span class="lang_en lang_item"><a href='/2021-edition/' class="no-barba">EN</a></span></div>
            <a href="mailto:contact@geniusloci-experience.com">Contact</a>
        </div>
        <div class="header_nav">
            <div class="header_nav_item" data-key="lieu">THE SETTING</div>
            <div class="header_nav_item" data-key="artistes">The artists</div>
            <div class="header_nav_item" data-key="commandes">COMMISSIONED WORKS</div>
            <div class="header_nav_item" data-key="partenaires">The Partners</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <div class="titre_expo">
            <h3>L’ANGE VOLANT <br/>GIO PONTI</h3>
            <h3>10.16 – 10.24 2021</h3>
            <img class="ange_volant" src="{{site.theme.path}}/assets/image/Geniusloci-ange.gif">
        </div>
        <p>For its first edition under the patronage of the Embassy of Italy, Genius Loci rekindles the spirit of L’Ange Volant, designed and built in Garches, on the outskirts of Paris in 1927 by architect and designer Gio Ponti. L’Ange Volant is the Italian master’s sole architectural work in France and a quintessential reflection of his multi-faceted artistic expression. Levity, transparency and colour, his major inspirational themes, are celebrated for the duration of the exhibition-event through the creation of more than twenty international artists with various art forms, of which several commissioned works that draw inspiration from the spirit of the place. The works take pride of place in all of the villa’s focal points, from the entrance to the garden. The full spectrum of expression, ranging from sculpture to perfume, brings to light one of the many facets of Gio Ponti’s L’Ange Volant in a kaleidoscopic show encompassing the past, present and future.</p>
        <div data-anchor="lieu" class="page_part">
            <h2 id="lieu">THE SETTING</h2>
            <p>L’Ange Volant was conceived by architect and designer Gio Ponti for the Bouilhet familly, then owners, directors and descendants of the founder of Christofle, the silverware maison. Nesting on the hillside in Garches, close to the Saint-Cloud golf course, this neo-Palladian villa built between 1925 and 1927, was designed down to the most minute detail by Gio Ponti. It was a seminal moment in his architectural work, his only construction project in France and one of the most well preserved in the world.</p>
            <p>Gio Ponti was at once a painter, writer, architect, designer and a scenographer. All facets of his creativity are in evidence in this early career work, recently restored by its original owners. Every feature of the villa bears the hallmarks of the master, from walls to ceilings down to door handles and engraved mirrors and was also conceived as an ode to love. Indeed, its very construction was the setting for a couple to be formed, as Tony Bouilhet, the commissioner of the villa and Carla Borletti, Gio Ponti’s niece who came from Italy to visit her uncle on the building site first met. Thus, the architect named the villa L’Ange Volant as a nod to the lovers who were married there in 1928, barely a year after the inauguration.</p>
            <p>This private commission allowed Ponti to realize his prototypical <span class="italique">casa all’italiana</span>, a concept of an Italianate villa envisioned around the notion of the joy of living, of theatre and empty space. With artefacts and art as permanent guests.</p>
            <p>A celebration of the spirit of a place, Genius Loci is the first contemporary art and design exhibition open to the public to be staged in L’Ange Volant.</p>
        </div>
        <div data-anchor="artistes" class="page_part"> 
            <h2 id="artistes">The Artists</h2>
            <div class="artistes">
                <div class="artistes_item">
                    <h6>Michael Anastassiades</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Cyprus in 1967, Michael Anastassiades founded his London design studio in 1994. The world of jewelry is one if his main sources of inspiration. His creations, mostly light fittings, blend decorative art with sculpture and industrial design. They feature in the permanent collection of such cultural institutions as the Museum of Modern Art in New York and the Victoria & albert Museum in London. He partners with many designers and manufacturers among whom are Hussein Chalayan, Swarovski Crystal Palace, Flos and Lobmeyr. Michael Anastassiades was elected Designer of the year 2020 by Maison & Objet, in Paris. Michael Anastassiades is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/01-MICHAEL-ANASTASSIADES.jpg">
                        <legend class="artistes_legend">Crossette lamp, Michael Anastassiades – 2017, <br/>brass and opaline, limited edition, Nilufar Gallery<br/> © Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Maloles Antignac</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Spanish-born Maloles Antignac divides her time between Paris and Madrid. Through the medium of sculpture, her work engages us to revisit our assumptions on feminity and our relationship with nature. A resident of the Martell Foundation in 2020, in 2018 Maloles Antignac took part in the creation of <em>Toguna</em>, an enduring collective work focused on the transmission of knowledge, at the Palais de Tokyo in Paris. The Gabrielle & Guillaume gallery devoted a solo show to her <em>Fertility</em> Cycle in 2019 under the curatorship of Marion Vignal. Her works have also been exhibited in Chile and Mexico. </p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/02-MALOLES-ANTIGNAC.jpg">
                        <legend class="artistes_legend">Post-Nature Study, Maloles Antignac – 2021,<br/>glazed stoneware and wax, special commission for Genius Loci<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Franklin Azzi</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in 1975, architect Franklin Azzi lives and works in Paris. A graduate of the École Spéciale d’Architecture, he also studied in Scotland at the Glasgow School of Art. In 2006, he founded the Franklin Azzi Architecture Agency. A proponent of a pioneering cross-disciplinary approach mixing architecture, interior design, design and contemporary art, he conjures novel living and working spaces (The Bureau, Be In for LVMH), rethinking urban planning with careful consideration for legacy built areas (Beaupassage on behalf of Emerige) also devising dismountable and removable structures (the rooftop Pavilion at Galeries Lafayette). </p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/03-FRANKLIN-AZZI.jpg">
                        <legend class="artistes_legend">Le Saint, Franklin Azzi – 2021,<br/>neon light and steel, special commission for Genius Loci, <br/>produced by Fonds de dotation Franklin Azzi,<br/>with the support of Aurige and Dunod Mallier<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>BBPR</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">BBPR is a group of Italian architects formed in 1932 by Gian Luigi Banfi (1910-1945), Lodovico Barbiano di Belgiojoso (1909-2004), Enrico Peressutti (1908-1976) and Ernesto Nathan Rogers (1909-1969), four architecture graduates of the Polytechnic University of Milan. During the second half of the XXth century, they led a number of brutalist projects in Milan; offices, residential and palace renovations. BBPR’s philosophy is at a midway point between tradition and modernity. The original shapes of their furniture designs are infused with by the belief that functionality precedes any advancement in aesthetic ideas. Successful partnerships with large corporations such as Olivetti, Arteluce and Arflex have placed the studio at the forefront of spreading a new culture of design. BBPR is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/04-BBPR.jpg">
                        <legend class="artistes_legend">2 seats sofa, BBPR – 1947,<br/>Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Louis-Géraud Castor</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Ever since the 2017 opening of his flower-workshop in the quiet surroundings of a Marais courtyard in Paris, Louis-Géraud Castor has been true to the guiding principles that sustained him for over fifteen years as an art dealer: always seek and convey beauty in the expression of its essence. The natural materials he uses form an artist’s palette that draws from the roots of his most admired art genres: colors, as in early Dutch paintings; texture in the manner of Jean-Michel Frank and the visible hand of the toiling artisan.  Compositions are conceived as tandems: part object, part living and changing beings. At once a triumph of French elegance and a partially ephemeral work, the vase ceases to be merely a container to become an extension of life itself, an element chosen among such contemporary artists as Mathilde Martin, Alana Wilson or Denis Polge. As a committed artisan, Louis-Géraud Castor would rather follow the demands for seasonality and freshness than obey demands for ornamentation and ostentation. Each of his choices is elevated to symbolize living matter and lived experience. His approach is consistent with a sustainable movement in which flowers are once again seen as luxury items deserving of respectful care owed to mother nature and its seasonal rhythm.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/05-LOUIS-GERAUD-CASTOR.jpg">
                        <legend class="artistes_legend">Floral composition<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Maurizio Donzelli</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Brescia, Italy in 1958, Maurizio Donzelli’s work involves drawings, painting, sculpture, textiles and installation querying the meeting point between reality, its perception and its artistic representations. Imbued with philosophical examination, his work explores our relationships with nature and reality through visual phenomena relating to colour and images. Drawings, which he holds up as an intellectual pursuit, are an integral part of his work. Symbols of our singular vision, the mirrors reflect the unavoidable inaccuracy of our understanding of the world that surrounds us. Maurizio Donzelli is represented by Galerie Italienne (Paris).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-01.jpg">
                            <legend class="artistes_legend">Mirror 2418, Maurizio Donzelli – 2018,<br />mix media and prismatic glass, Galerie Italienne<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-02.jpg">
                            <legend class="artistes_legend">Mirror 4915 A, Maurizio Donzelli – 2015,<br />mix media, Galerie Italienne <br />Mirror 2614 A, Maurizio Donzelli – 2014,<br />mix media, Galerie Italienne <br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-03.jpg">
                            <legend class="artistes_legend">Oro, Maurizio Donzelli – 2021,<br />golden canvas collage and resin on wood, Galerie Italienne<br />© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Sophie Dries</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Sophie Dries is an architect and designer. Having worked with Ateliers Jean Nouvel, Pierre Yovanovitch and Liaigre agencies, she founded her own studio in Paris in 2014, and in Milan in 2017. Her work blends architecture, interior design and design in a cutting-edge approach in which traditional techniques engage a conversation with modernity. Her furniture designs and ceramic works are a quest to find the ‘cosmic essence of matter’. Sophie Dries is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/06-SOPHIE-DRIES.jpg">
                        <legend class="artistes_legend">Miroir Alchemia, Sophie Dries – 2021,<br/>Murano glass and minerals,<br/>special commission for Genius Loci, Nilufar gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Latifa Echakhch</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in 1974, Latifa Echakhch is a French Moroccan visual artist who lives and works in Martigny (Switzerland). Oscillating between surrealism and conceptualism, her work calls into question the importance of symbols and reflects the tenuous nature of modernism. Exhibition held at international museums such as Centre Pompidou in Paris, Tate Modern in London or the Fondazione Memmo in Rome have been devoted to her productions. She has also taken part in group exhibitions at the Museum of modern art in Paris, at the Palais de Tokyo and at MoMA PS1 in New York. Latifa Echakhch won the Marcel-Duchamp Prize in 2013 and the Zurich Art Prize in 2015. She was chosen to represent Switzerland at the 59th Biennale Arte 2022 in Venice. Latifa Echakhch is represented by kamel mennour, Paris / London.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/07-LATIFA-ECHAKHCH.jpg">
                        <legend class="artistes_legend">Bend the herbs from left to right, helping with the feet,<br/>make a large circle around, so large that could not see any way,<br/>Latifa Echakhch – 2019, black Indian ink and sepia ink on canvas,<br/> kamel mennour (Paris / London)<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Jérôme Echenoz</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Sound designer and composer Jérôme Échenoz is the founder of the Adorable studio and co-founder of Institubes, an independent label for electro music. A former DJ and rap music producer, he is the songwriter for many young artists in the French music scene. He is a regular contributor to sound creations in collaboration with designers and artists.</p>
                    <p>For Genius Loci, Jérôme Échenoz has composed an original musical score, meant as a sound portrait of the villa, which will be broadcast as a sound installation in the villa L’Ange Volant in partnership with Bang & Olufsen. </p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/08-JEROME-ECHENOZ.jpg">
                        <legend class="artistes_legend">Portrait of Jérôme Échenoz<br/>© AKATRE</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Barnabé Fillion</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Barnabé Fillion is a French perfumer-creative artist. He devoted himself to olfactive art having completed his training as a photographer and a botanist. For over ten years, he has been devising fragrances using traditional artesan fabrication techniques. He has drawn inspiration from his numerous trips and his compositions are made predominantly from natural ingredients. He is constantly on the lookout for ways to create hybrids between innovation and tradition. Barnabé Fillion regularly partners with fashion brands and artists on specific projects. He was chosen by the Australian organic cosmetic brand Aesop to create its perfume line, whose latest Rozu fragrance was designed as a tribute to Charlotte Perriand, designer and pioneer of modernism.</p>
                    <p>For Genius Loci, Barnabé Fillion is creating a bespoke perfume, inspired by the quintessence of L’Ange Volant by Gio Ponti in the form of an olfactive installation during the exhibition.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/09-BARNABE-FILLON.jpg">
                        <legend class="artistes_legend">Portrait of Barnabé Fillion<br/>© Aesop</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Piero Fornasetti</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Unconventional creator, artesan, graphic artist and poet, Piero Fornasetti (1913-1988) holds a unique place in the rich tapestry of Italian design, without a doubt one of the most prolific decorative artists of the XXth century. His overflowing work, both art and artesan in a testament to his boundless imagination, his virtuosity in the art of storytelling through peerless furniture, decorative items and decors. Piero Fornasetti is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/08-PIERO-FORNASETTI.jpg">
                        <legend class="artistes_legend">Trumeau, Piero Fornasetti – 1956,<br/>lacquered wood, lithographic transfer with « malachite » effect,<br/> Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Roberto Giulio Rida</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Roberto Guilio Rida was born in Milan in 1943 and is a somewhat atypical artist. Starting out as an antique dealer, he befriended Murano masters, who thought him the craftsmanship of glassmakers.   From 1973 onwards, he specialized in XXth century art, creating light fittings and furniture covered or cut-out with glass and crystal. Without regard for cultural trends, he leads his audience into a strange world in which science-fiction clashes with Italian Rennaissance under an intense, mineral glare. Roberto Giulio Rida is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/09-ROBERTO-GIULIO-RIDA.jpg">
                        <legend class="artistes_legend">Penta Cabinet, Roberto Giulio Rida – 2018,<br/>wood, glass and crystals, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Laurent Grasso</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Mulhouse in 1972, Laurent Grasso lives and works in Paris and New York. His films, sculptures, pictures and photography are steeped in an unsettling world fraught with uncertainty. His ability to conjure mystery-filled atmospheres blur the lines of our perceptive and cognitive senses. He has commissioned many public and private works and is exhibited in major institutions. In 2020, he was invited by the Musée d’Orsay to produce the Artificialis installation-work, partaking in a dialogue within the event-exhibition titled Les Origines du monde. An artists in residence at the villa Médicis in Rome in 2004. Laurent Grasso was awarded the Altadis prize in 2005, the Marcel-Duchamp prize in 2008 and the Meru Art*Science Award in Bergamo in 2017. In 2015, he was decorated with the medal as Chevalier de l’ordre des Arts et des Lettres. Laurent Grasso is represented by Perrotin (Paris).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-01.jpg">
                            <legend class="artistes_legend">Future Herbarium, Laurent Grasso – 2020, <br />white bronze, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-02.jpg">
                            <legend class="artistes_legend">Untitled (child’s sculpture), Laurent Grasso – 2018, <br />bronze, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-03.jpg">
                            <legend class="artistes_legend">Studies into the past, Laurent Grasso,<br />oil and palladium leaves on wood, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Milène Guermont</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in 1981, visual artist Milène Guermont lives and works in Paris. On completion of an engineering studies, she entered the École Nationale Supérieure des Arts Décoratifs, where she gained acclaim for her poly-sensorial concrete works blending poetry and innovation.</p>
                    <p>She created the Instants monument to commemorate the 70th anniversary of the Second World War on Utah Beach, the Causse tomb at the Montparnasse cemetery and the monumental installation Phares displayed on Place de la Concorde in Paris in 2015, on the occasion of the ‘international year of light’ initiated by Unesco. </p>
                    <p>For Genius Loci, she will exclusively reveal a textile creation made in the context of the construction in Paris of the Maison Guermont, conceived as an overarching work of art bringing together over sixty companies and artesans.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/14-MILENE-GUERMONT.jpg">
                        <legend class="artistes_legend">Cannetille blouse, Milène Guermont – 2020,<br/>1,2,3 Soleil skirt, Milène Guermont – 2020,<br/>Cleopatra pumps, Milène Guermont – 2020,<br/>unique pieces, Collection Maison Guermont <br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Camille Henrot</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Paris in 1978, Camille Henrot lives and works between New York and Berlin. Her works are the scene of many media of expression (installations, sculptures, drawings and videos). Recipient of a silver Lion award for best young artist at the Venice Biennale in 2013 for her Grosse Fatigue work, Camille Henrot revisits our assumptions on object typologies and established thought processes. Camille Henrot’s work is on display in dedicated exhibitions at the Palais de Tokyo in Paris, at the Hammer Museum in Los Angeles, at the Tokyo Opera City Art Gallery and at the Fondazione Memmo in Rome.  She won the Nam June Paik prize in 2014 and the Edvard Munch Art Award in 2015. Camille Henrot is represented by kamel mennour, Paris/London.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/12-CAMILLE-HENROT-01.jpg">
                            <legend class="artistes_legend">Amoeba, Camille Henrot – 2014, <br />bronze, metal and plastic, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/12-CAMILLE-HENROT-02.jpg">
                            <legend class="artistes_legend">L&#8217;Amour des animaux, Camille Henrot – 2014, (« Tropics of Love » series),<br />diptych, Indian ink on paper, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Mathias Kiss</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Mathias Kiss is a French contemporary artist with Hungarian roots, born in Poissy near Paris in 1972. He lives and works in Paris. He reflects on the question of deconstruction of the classical legacy, bluring the borderlines between art and artesan, in the tradition of movements such as the Arts & Crafts or the Bauhaus school. His works featured at the Musée des Arts Décoratifs in 2016, and at the Palais des Beaux-Arts of Lille in 2019. In 2013, he was given the Wallpaper Design Award, then in 2016, the Young International Art Fair Brussels Award. He was president of the jury for the Grand Prix de la Création de la ville de Paris for 2020 – in the artistic crafts category.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/13-MATHIAS-KISS-01.jpg">
                            <legend class="artistes_legend">Sans 90 degrés</em>, Mathias Kiss – 2021, <br />mirror, unique piece, Galerie Armel Soyer<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/13-MATHIAS-KISS-02.jpg">
                            <legend class="artistes_legend">Sans 90 degrés Sky Mirror, Mathias Kiss – 2021, <br />mirror, special commission for Genius Loci,<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Studio KO</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Since they met at l’Ecole d’architecture des Beaux-Arts in Paris and the subsequent foundation of their own studio in 2000, Karl Fournier and Olivier Marty have displayed a singular signature on projects of all scales. Heirs to a rich vein of classical training, they lay claim to an immersive approach to their profession, encompassing architecture, interior design and furniture. Architects of the Yves-Saint-Laurent Museum in Marrakech, the Chiltern Firehouse hotel in London, instigators of the renovation of the Los Angeles landmark Château-Marmont, Studio KO devises bespoke furniture for each of its projects, a source of original experimentation, encounters with new textures, techniques and lighting.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/14-STUDIO-KO.jpg">
                        <legend class="artistes_legend">À travers le miroir, Studio KO – 2020,<br/>glass and mirror table<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Alicja Kwade</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Katowice, Poland, in 1979 Alicja Kwade is a visual artist who lives and works in Berlin. Alicja Kwade’s work calls into question our reality and reflects the notions of time and space of our daily lives. Her sculptural work explores the material world drawing from mundane objects as well as raw materials such as glass, wood and copper. The WeltenLinie work was presented at the Venice Biennale in 2017, in which Alicja Kwade presented her singular exploration of space and perception. In 2019, she created a monumental installation for the rooftop of the MET in New York. Alicja Kwade is represented by kamel mennour, Paris/London.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/15-ALICJA-KWADE.jpg">
                        <legend class="artistes_legend">CitrusQuantum, Alicja Kwade – 2020,<br/>bronze and marble, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Bas Smets & Eliane Le Roux</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Belgian landscape architect Bas Smets founded his agency in Brussels in 2007. He devises a wide range of projects internationally, from parks to private gardens. He notably authored the ten hectare Thurn & Taxis park in Brussels and the seafront at Himara, Albania. He was selected to conceive the Parc des Ateliers for the Luma foundation in Arles, in close collaboration with architects Frank O. Ghery and Annabelle Selldorff. Eliane Le Roux is a French-Argentinian architect, graphic arts and decorative designer. She founded her Paris-based studio, UNDR, in 2014 at the intersection of art, graphic arts, and technology. Together they have devised a series of outdoor furniture items, of which the Salta bench in Belgian stone exhibited exclusively at Genius Loci.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/16-BAS-SMETS-ELIANE-LE-ROUX.jpg">
                        <legend class="artistes_legend">Salta Blue, Bas Smets & Eliane le Roux – 2021,<br/>bench in Belgian blue stone<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Marion Mailaender</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Marion Mailaender is an interior architect and designer who splits her time between Paris and her native city of Marseille. A figurehead of the emerging French scene, she devises a wide range of creations, from objects to scenographies, residential and commercial projects. Each of these reveal the artist’s audaciousness and humor with which she dispatches conventions, with no fear of breaching the limits of good taste, upturning references, codes, materials and typologies. She has collaborated with the artist Sophie Calle, the fashion designer Amélie Pichard and the Colombian designer Esteban Cortazar.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/17-MARION-MAILAENDER.jpg">
                        <legend class="artistes_legend">Superpesante chair, Marion Mailaender – 2017,<br/>bronze, unique piece<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Nao Matsunaga</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Osaka, Japan in 1980, Nao Matsunaga lives and works in London. His work is steeped in myths, symbols, objects and rituals, addressing the issues of duality and opposition, mixing up the media such as clay or wood, or by setting opposites side-by-side: somber and shining, organic and geometric. Nao Matsunaga is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/18-NAO-MATSUNAGA.jpg">
                        <legend class="artistes_legend">Broker, Nao Matsunaga – 2019,<br/>glazed porcelain, Nilufar Gallery<br/>Gaze, Nao Matsunaga – 2019,<br/>glazed porcelain, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Julian Mayor</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in 1976, artist and designer Julian Mayor lives and works in England. A graduate of the London Royal College of Art in Design Products, he gained recognition for his welded steel sculpture works. Each of his creations is computer generated before it is developed in his workshop. In partnership with British designer Tom Dixon, his work was exhibited in 2004 at the Victoria & Albert Museum in London and at the Museum of Arts and Design, in New York. Julian Mayor is represented by Armel Soyer (Paris).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/19-JULIAN-MAYOR.jpg">
                        <legend class="artistes_legend">Jagged Edge, Julian Mayor – 2021, welded steel sculpture,<br/> special commission for Genius Loci,<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Studio Nucleo</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Studio Nucleo is an artists and designers collective based in Turin in Italy. Founded in 1999 by Stefania Fersini, Alice Carlotta Occleppo and Alexandra Denton, the studio is led by Piergiorgio Robino. Nucleo reaches into contemporary art, design and architecture. The studio’ s work, inspired by time, humanity and evolution, blends in theories with experimentation to tell a story about the past, present and future. The creations of Studio Nucleo have gained worldwide exposure, notably at Centre Georges-Pompidou in Paris and at the MoMa in New York. Studio Nucleo is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/20-STUDIO-NUCLEO.jpg">
                        <legend class="artistes_legend">Color Lenses bench, Piergiorgio Robino, Studio Nucleo – 2020,<br/>epoxy resin, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Damian O’Sullivan</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in England in 1969, French-Irish designer Damian O’Sullivan lives and works between Paris and Brussels. A ceaseless attention to the uses and the choice of materials underpins his approach to the objects he designs, be they table, fashion accessories, decorative or furniture items. In each of his project, Damian O’Sullivan seeks to surprise, sometimes in almost invisible ways. A graduate of the London Royal College of Art, he lectured at the Design Academy in Eindhoven and founded the O’Sullivan studio in Brussels. His works have notably been edited by Hermès, Delvaux, Philips, Rosenthal and Louis Vuitton.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/21-DAMIAN-O-SULLIVAN-01.jpg">
                            <legend class="artistes_legend">Candlestcick Louange, Damian O’Sullivan – 2021,<br/>aluminum and brass, special commission for Genius Loci,<br/>Studio O’Sullivan edition<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/21-DAMIAN-O-SULLIVAN-02.jpg">
                            <legend class="artistes_legend">Vase Solange, Damian O’Sullivan – 2021,<br/>earthenware, special commission for Genius Loci,<br/>Studio O’Sullivan edition<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Ico Parisi</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architect and designer, Domenico, aka Ico, Parisi (1916 - 1996) embodies the modern Italian style of the 1950s. In 1945, Ico Parisi set up the first exhibition of contemporary furniture in Como. His connections with Gio Ponti, Lucio Fontana or Bruno Munari were influential to his vision of architecture and furniture design. He created interiors, wooden and metal furniture, glassworks, jewelry, architecture projects, which he devised either alone or with his wife, Luisa. Many fabrication firms edited his furniture (Singer & Sons, MIM, Cassina, Cappellini, Altamira…). Ico Parisi is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/22-ICO-PARISI.jpg">
                        <legend class="artistes_legend">Armchairs, Ico Parisi – 1949, <br/>Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Gio Ponti</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architect, designer, painter, draftsman, founder of the DOMUS review in 1928, Gio Ponti hails from a long line of Italian masters whose multi-faceted lifework extends over six decades. Born in Milan in 1891 and deceased in 1979, Gio Ponti’s creativity is displayed in public and private architectural projects, churches, universities, residential condominiums. A prolific designer with a passion for ceramics and craftsmanship, he was a lifelong advocate of Italian art de vivre and a major proponent of post-war Italian design. His most famed works include the Pirelli tower, built from 1956 to 1960 in Milan, the Planchart villa in Caracas and the Superleggera chair, created for Cassina in 1957.</p>
                    <p>Blending neo-classicism and modernism, L’Ange Volant villa, in Garches on the outskirts of Paris - commissioned by Tony Bouilhet and built between 1925 and 1927 - was his first architectural completion outside of Italy. For the first time, Gio Ponti set down the basic tenets of his concept for a Casa all’italiana. Every detail, from door handle to painted ceilings, engraved mirrors and lighting fixtures is part of an outline pointing towards his ideal of an all-encompassing work of art. </p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-01-1.jpg">
                            <legend class="artistes_legend">First class armchairs, Gio Ponti & Giulio Minoletti – 1950,<br/>manufactured by Officine Breda <br/>for ETR 300 Settebello First Class Train, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-02-1.jpg">
                            <legend class="artistes_legend">Angeli, Gio Ponti – 1970,<br/>acrylic and tempera on perpex, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-03-1.jpg">
                            <legend class="artistes_legend">Angeli, Gio Ponti – 1970,<br/>acrylic and tempera on perpex, Nilufar Gallery<br/>Desk, Gio Ponti – 1957,<br/>unique piece, Collection Tony & Carla Bouilhet, Nilufar Gallery<br/>Pair of armchairs, Gio Ponti – 1953,<br/>walnut, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="3" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-04-1.jpg">
                            <legend class="artistes_legend">Chair, Gio Ponti – Cassina model of 1961,<br/>Aniline-stained and polished ash wood,<br/>green alacantra upholstery<br/>Armchair Parco dei Principi, Gio Ponti – 1960,<br/>Nilufar Gallery<br />© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Agnès Sébyleau</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in 1961, painter and visual artist Agnès Sébyleau lives and works in Paris. Trained in art history and modern literature, her initiation to the creative arts came gradually. Drawing her inspiration from the minimal aspect of objects, she confections scultpures out of crocheted string, re-assembled mesh and stitched incisions. Agnès Sébyleau is represented by Armel Soyer (Paris).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/24-AGNES-SEBYLEAU.jpg">
                        <legend class="artistes_legend">Angelo, Agnès Sébyleau – 2021,<br/>hemp and linen, unique piece,<br /> special commission for Genius Loci, Galerie Armel Soyer<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Jonathan Trayte</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Born in Huddersfield (UK) in 1980, Jonathan Trayte lives and works in Margate, in Kent. Our greed-fueled consumerism and the influence of advertising on our decisions are recurring themes inspiring Jonathan Trayte’s work, which offers a reinterpretation of the natural world, creating surreal facsimile in saturated colours out of varied material. He explores the psychology of desire through surfaces, materials, lighting and colour. His work has featured in many international exhibitions, notably the Royal Academy of Arts in London in 2015. In 2019 he delivered a monument for the London council. Jonathan Trayte is represented by Nilufar (Milan).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/25-JONATHAN-TRAYTE-01.jpg">
                            <legend class="artistes_legend">Woman with Fruit, Jonathan Trayte – 2019,<br/>bronze, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/25-JONATHAN-TRAYTE-02.jpg">
                            <legend class="artistes_legend">Kaaawa Lawn, Johnathan Trayte – 2019,<br/>bronze, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Alix Waline & Sabatina Leccia</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Trained at the Beaux-Arts in Paris, Alix Waline studies textile at La Cambre school in Brussels. Inspired by the cells in the human body, she was introduced to the aesthetics of pointillism and worked on projects with hotels (the Chess Hôtel) and restaurants (Kinugawa, Table et Akrame) in Paris in partnership with the interior design agency Gilles & Boissier. Her drawings mix organic shapes with abstraction. Alix Waline is represented by Armel Soyer (Paris).</p>
                    <p>Sabatina Leccia is a French artist- born in 1984- who lives and works in Montreuil near Paris. Her work balances between Art and Craft. In 2012, she graduated from MA Material Futures at Central Saint Martin’s School of Art and Design in London where she started to work on experimental embroidery. In 2015, she exhibited her Painting Embroidery series at Amélie de Borchgrave gallery in Bruxelles and was selected for an Art Residency in Estonia where she developed Poetic Plastic.</p>
                    <p>In 2019, Sabatina Leccia was choosen by Patou to embroider the costume of the academician Barbara Cassin in collaboration with La Fabrique Nomade and Baqué Molinié studio.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/26-ALIX-WALINE-SABATINA-LECCIA.jpg">
                        <legend class="artistes_legend">Nucleus, Alix Waline & Sabatina Leccia – 2020,<br/>ink, overlaid and embroidery on Arches paper, Galerie Armel Soyer<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div data-anchor="commandes" class="page_part">
            <h2>COMMISSIONED WORKS</h2>
            <p>Several works have been especially commissioned for Genius Loci. Inspired by the spirit of L’Ange Volant, they take pride of place both inside and outside of the villa.</p>
            <p>Architect <span class="yellow">Franklin Azzi</span> authors his first artistic feat with Le Saint, a light installation referencing the spirituality of the place and of its creator. Conceived as an inaugural work of the Genius Loci experience, it floats as if by magic in the entrance courtyard.</p>
            <p>In the garden, artist <span class="yellow">Mathias Kiss</span> spreads out the wings of the angel over the lawn of the villa. This polished stainless-steel work symbolized the overshadowing figure of L’Ange Volant.</p>
            <p>Inside the villa, architect and designer <span class="yellow">Sophie Dries</span> reveals a Murano glass mirror incrusted with stones referencing <span class="yellow">Gio Ponti</span>’s passion for minerals and his obsession with transparency. English artist <span class="yellow">Julian Mayor</span> minted a low welded steel table that shimmers like a block of crystal. Spanish artist <span class="yellow">Maloles Antignac</span> shaped a sculpture inspired by the iconography of the hand, one of the iconic themes of <span class="yellow">Gio Ponti</span>’s work in ceramics. Textile sculptor <span class="yellow">Agnès Sébyleau</span> unfolds her tentacular wings as the fingers of a prodigious hand. French-Irish designer <span class="yellow">Damian O’Sullivan</span> presents a double candle holder, inspired by the union theme as a tribute to the quest for light and levity of the Italian designer, as well as a vase whose shape is both sensually round and geometrically rigorous.</p>
            <p>Composer <span class="yellow">Jérôme Échenoz</span> attempts to capture the spirit of the place in realizing the sound installation that accompanies the visitor strolling from the entrance through the rooms upstairs, while <span class="yellow">Barnabé Fillion</span> created a perfume especially for Genius Loci that seeks to resonate with the spirit of the locale and draws from the major inspirational themes of <span class="yellow">Gio Ponti</span>: mirror effects, transparency and lightness of being. The scent is unveiled in stages throughout the exhibition, note after note.</p>
            <p>Through his <span class="italique">Spectral Ponti</span> work commissioned in partnership with Diorama productions for Genius Loci, <span class="yellow">Laurent Grasso</span> attempts to probe the supernatural dimension contained in the spirit of a place. His film draws the spectator through the digital mock-up of the villa l’Ange Volant by <span class="yellow">Gio Ponti</span> using LIDAR scanner technology. It follows the footsteps of <span class="italique">Spectral Orsay</span>, recently unveiled at the Musée d’Orsay. <span class="italique">Spectral Ponti</span> reveals the artist’s vision of the villa which is at once ultra-contemporary and timeless. <span class="yellow">Laurent Grasso</span> has made a habit of immersing the spectator in a troubled world in which our perceptive boundaries are blurred, mystery emerges, offering a journey through time. His way of making worlds collide chimes as a distant echo with the ideas of <span class="yellow">Gio Ponti</span>, for whom architecture was meant as a collection of spectacles.</p>
        </div>
        <div data-anchor="partenaires" class="partenaires_part page_part">
            <h2 id="partenaires">THE PARTNERS</h2>
            <div class="logos ap">
                <div class="logos_first">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_ambassade.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_lange.png"></div>
                </div>
                <div class="logos_second">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_christophle.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_diorama.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_bang&olufsen.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_metaphores.png"></div>
                </div>
                <div class="logos_third">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_monte_paschi.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_aurige.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_Dunob.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_castor.png"></div>
                </div>
            </div>
            <div class="partenaires">
                <div class="partenaires_item">
                    <h6>Villa L’Ange Volant</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Nestled in a lush hillside between Paris and Versailles, L’Ange Volant villa was conceived in 1927 by Gio Ponti for the Bouilhet familly, founders and heirs of the Christofle silverware maison. Devised as an all-encompassing whole, from doorhandle to the garden, this country retreat is the only architectural work of the Milanese master in France.  Long the preserve of the familly and friend circle, L’Ange Volant has in more recent times opened its doors to enthusiasts of Gio Ponti’s work for visits of short stays.</p>
                            <p class="small">For more information on visits or rentals:<br/>
                            <a href="http://angevolant.com/" target="_blank" rel="noreferrer noopener">angevolant.com</a><br/>
                            <a href="https://www.instagram.com/villa.angevolant/" data-type="URL" target="_blank" rel="noreferrer noopener">@villa.angevolant</a></p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Christofle</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Charles Christofle was twenty-five years old in 1830, when he created the company that bears his name. The company quickly acquired a reputation for expertise and elegance thanks to its prestigious clients: King Louis-Philippe, Napoleon III, and the liner Normandie, which set sail with more than 40,000 pieces of silverware on board. Christofle’s craftsmanship was further recognized by winning many awards at the Universal Exhibitions from 1855 to 1937. Later, the brand joined the collections of the Musée des Arts Décoratifs and the Louvre. Though the Maison is rich in history, Christofle still continues to grow and appeal to the newer generation thanks to its contemporary tableware creations that reinvent the conviviality of today and tomorrow by making the art of sharing a true art of living. Christofle has successfully collaborated with artists and designers with the aim of creating pieces that respond elegantly to contemporary uses.</p>
                            <p class="small">
                                <a href="http://www.christofle.com" target="_blank" rel="noreferrer noopener">christofle.com</a><br/>
                                <a href="https://www.instagram.com/christofle" target="_blank" rel="noreferrer noopener">@christofle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Diorama productions</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Diorama is a 3D production company, founded in 2016 Gilberto Bonelli and Gianni Vesentini, both graduates of Milan Politecnico school of architecture. With bases in Milan, Paris and Verona in Italy, Diorama specializes in artistic direction and creative work in imaging, video, virtual reality and digital content for architecture, design, scenography, fashion, urban development, art and cinema.</p>
                            <p class="small">
                                <a href="http://www.diorama.eu/" target="_blank" rel="noreferrer noopener">diorama.eu</a><br>
                                <a href="https://www.instagram.com/diorama.eu" target="_blank" rel="noreferrer noopener">@diorama.eu</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Bang &amp; Olufsen</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Bang & Olufsen delivers bespoke audio solutions suited to all occasions and needs. Founded in Struer, Denmark, in 1925 by Peter Bang and Svend Olufsen, two pioneers whose drive and vision permeate the company’s strategy to this day. For close to a century, Bang & Olufsen has been striving to push the limits of technology ever higher, which has kept the company at the edge of innovation in sound.</p>
                            <p class="small">
                                <a href="http://www.bang-olufsen.com/" target="_blank" rel="noreferrer noopener">bang-olufsen.com</a><br>
                                <a href="https://www.instagram.com/bangolufsen" target="_blank" rel="noreferrer noopener">@bangolufsen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Metaphores</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">An innovator in weaving and fabrics edition for interior design, Métaphores is a celebrated brand, inspiring and contemporary, belonging to Hermès’ textile division. Métaphores, the finest of French signatures, brings together the centenarian know-how of Verel de Belval for silk furnishings and Le Crin for hand-woven horsehair, as well as the mastery of textile materials with remarkable sensory and visual creativity. Métaphores fabrics are born of a subtle alchemy between materials, history and gesture, supported by its rigorous choice of partners and careful selection of raw materials. This overarching sustainable development approach lowers the environmental impact of the collections.</p>
                            <p class="small">
                                <a rel="noreferrer noopener" href="https://www.metaphores.com/" data-type="URL" data-id="https://www.metaphores.com/" target="_blank">metaphores.com</a><br>
                                <a rel="noreferrer noopener" href="https://www.instagram.com/metaphoresparis/" data-type="URL" data-id="https://www.instagram.com/metaphoresparis/" target="_blank">@metaphores</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Castor</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Ever since the 2017 opening of his flower-workshop in the quiet surroundings of a Marais courtyard in Paris, Louis-Géraud Castor has been true to the guiding principles that sustained him for over fifteen years as an art dealer: always seek and convey beauty in the expression of its essence. The natural materials he uses form an artist’s palette that draws from the roots of his most admired art genres: colors, as in early Dutch paintings; texture in the manner of Jean-Michel Frank and the visible hand of the toiling artisan. Compositions are conceived as tandems: part object, part living and changing beings. At once a triumph of French elegance and a partially ephemeral work, the vase ceases to be merely a container to become an extension of life itself, an element chosen among such contemporary artists as Mathilde Martin, Alana Wilson or Denis Polge. As a committed artisan, Louis-Géraud Castor would rather follow the demands for seasonality and freshness than obey demands for ornamentation and ostentation. Each of his choices is elevated to symbolize living matter and lived experience. His approach is consistent with a sustainable movement in which flowers are once again seen as luxury items deserving of respectful care owed to mother nature and its seasonal rhythm.</p>
                            <p class="small">
                                <a rel="noreferrer noopener" href="https://www.castor-fleuriste.com/" data-type="URL" data-id="https://www.castor-fleuriste.com/" target="_blank">castor-fleuriste.com</a><br>
                                <a rel="noreferrer noopener" href="https://www.instagram.com/castorfleuriste/" data-type="URL" data-id="https://www.instagram.com/castorfleuriste/" target="_blank">@castorfleuriste</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'en_footer.twig' %}
    </div>
</div>