<div class="background_part">
    <div class="header_part">
        <div class="first_anchors">
            <div class="switch_lang"><span class="lang_fr lang_item select"><a href="/edition-2021/" class="no-barba">FR</a></span> / <span class="lang_en lang_item"><a href='/2021-edition/' class="no-barba">EN</a></span></div>
            <a href="mailto:contact@geniusloci-experience.com">Contact</a>
        </div>
        <div class="header_nav">
            <div class="header_nav_item" data-key="lieu">le lieu</div>
            <div class="header_nav_item" data-key="artistes">les artistes</div>
            <div class="header_nav_item" data-key="commandes">les commandes <span class="no-mob">spéciales</span></div>
            <div class="header_nav_item" data-key="partenaires">les partenaires</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <div class="titre_expo">
            <h3>L’ANGE VOLANT <br/>GIO PONTI</h3>
            <h3>16.10 – 24.10 2021</h3>
            <img class="ange_volant" src="{{site.theme.path}}/assets/image/Geniusloci-ange.gif">
        </div>
        <p>Pour sa première édition, sous le patronage de l’Ambassade d’Italie, Genius Loci fait résonner l’âme de la villa L’Ange Volant, créée par l’architecte et designer Gio Ponti en 1927, à Garches, aux portes de Paris. Unique réalisation de l’Italien en France, L’Ange Volant reflète la quintessence de son œuvre protéiforme. Ses grands thèmes d’inspiration comme la légèreté, la transparence et la couleur sont célébrés pendant la durée de l’exposition-événement à travers les créations de plus de vingt artistes internationaux, issus de différentes disciplines, dont plusieurs commandes spéciales inspirées par le lieu. Celles-ci prennent place dans tous les espaces de la villa, de l’entrée au jardin. De la sculpture au parfum, toutes les œuvres font vibrer une facette de L’Ange Volant de Gio Ponti dans une vision kaléidoscopique entre passé, présent et futur.</p>
        <div data-anchor="lieu" class="page_part">
            <h2 id="lieu">Le Lieu</h2>
            <p>La villa L’Ange Volant a été conçue par l’architecte et designer italien Gio Ponti pour la famille Bouilhet, alors propriétaire et dirigeante de la maison d’orfèvrerie Christofle et descendante de son fondateur. Construite de 1925 à 1927 sur la colline de Garches, près du golf de Saint-Cloud, elle fut pensée dans ses moindres détails par Gio Ponti. Elle fait partie de ses premières réalisations architecturales et figure parmi les mieux conservées dans le monde.</p>
            <p>Gio Ponti fut à la fois peintre, écrivain, architecte, designer et scénographe. Toutes les facettes de sa créativité s’expriment dans cette œuvre conçue au début de sa carrière et récemment restaurée par ses propriétaires historiques. Dessinée des murs aux plafonds en passant par les poignées de portes et les miroirs gravés, la villa se veut aussi une ode à l’amour. Sa construction a en effet donné naissance au couple formé par Tony Bouilhet, le commanditaire du lieu, et par Carla Borletti, nièce de Gio Ponti, venue d’Italie rendre visite à son oncle sur le chantier. C’est ainsi que l’architecte nomme la villa «&nbsp;L’Ange volant&nbsp;» en clin d’œil aux amoureux qui s’y marient, en 1928, soit un an à peine après son inauguration.</p>
            <p>Avec cette commande privée, Gio Ponti réalise son prototype de <span class="italique">casa all’italiana</span>, ce principe de villa à l’italienne pensée par l’architecte autour de la notion de joie d’habiter, de théâtralité et de vide. Avec les objets et les œuvres d’art en invités permanents.</p>
            <p>Célébration de l’esprit du lieu, Genius Loci est la première exposition d’art contemporain et de design, ouverte au grand public, à prendre place à L’Ange Volant.</p>
        </div>
        <div data-anchor="artistes" class="page_part"> 
            <h2 id="artistes">Les Artistes</h2>
            <div class="artistes">
                <div class="artistes_item">
                    <h6>Michael Anastassiades</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né à Chypre en 1967, le designer Michael Anastassiades fonde son studio à Londres en 1994. Il puise son inspiration dans l’univers de la joaillerie. Ses créations, majoritairement des luminaires, associent la sculpture, les arts décoratifs et le design industriel.  Elles sont présentes dans les collections permanentes de grandes institutions culturelles, comme le Museum of Modern Art à New York et le Victoria & Albert Museum à Londres. Il collabore avec de nombreux designers et fabricants tels que Hussein Chalayan, Swarovski Crystal Palace, Flos et Lobmeyr. Michael Anastassiades a été élu Designer de l’année 2020 par le Salon Maison & Objet, à Paris. Michael Anastassiades est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/01-MICHAEL-ANASTASSIADES.jpg">
                        <legend class="artistes_legend">Lampe Crossette, Michael Anastassiades – 2017,<br/> laiton et opaline, édition limitée, Nilufar Gallery<br/> © Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Maloles Antignac</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en Espagne, Maloles Antignac vit et travaille entre Paris et Madrid. Elle développe autour de la sculpture une œuvre engagée qui interroge la féminité et notre relation à la nature. Résidente de la Fondation Martell en 2020, Maloles Antignac a participé à la création de l’œuvre collective pérenne Toguna sur la transmission du savoir au Palais de Tokyo, à Paris, en 2018. La galerie Gabriel & Guillaume lui a consacré le solo show Fertility Cycle, en 2019 à Paris, sous le commissariat de Marion Vignal. Ses œuvres ont également été exposées au Chili et au Mexique.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/02-MALOLES-ANTIGNAC.jpg">
                        <legend class="artistes_legend">Post-Nature Study, Maloles Antignac – 2021,<br/>grès émaillé et cire, commission spéciale pour Genius Loci <br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Franklin Azzi</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né en 1975, l’architecte Franklin Azzi vit et travaille à Paris. Diplômé de l’École spéciale d’architecture, il poursuit sa formation à la Glasgow School of Art, en Écosse. En 2006, Il fonde l’agence Franklin Azzi Architecture. Avant-gardiste et adepte d’une approche transversale qui mêle architecture, architecture d’intérieur, design et art contemporain, il invente de nouveaux espaces de vie et de travail (The Bureau, Be In pour LVMH), repense l’aménagement urbain dans le respect de l’existant (Beaupassage pour Emerige) et met au point des structures démontables et amovibles (le pavillon sur le toit des Galeries Lafayette).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/03-FRANKLIN-AZZI.jpg">
                        <legend class="artistes_legend">Le Saint, Franklin Azzi – 2021,<br/>néon et acier, commission spéciale pour Genius Loci,<br/>production Fonds de dotation Franklin Azzi,<br/>avec le soutien de Aurige et Dunod Mallier<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>BBPR</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Groupe d’architectes italiens, BBPR a été fondé en 1932 par Gian Luigi Banfi (1910-1945), Lodovico Barbiano di Belgiojoso (1909-2004), Enrico Peressutti (1908-1976) et Ernesto Nathan Rogers (1909-1969), quatre architectes diplômés de l’École polytechnique de Milan. Dans la seconde moitié du XXe siècle, ils réalisent de nombreux projets d’architecture brutaliste à Milan: bureaux, logements et réhabilitations de palais. La philosophie de BBPR se situe à mi-chemin entre tradition et modernité. Convaincus qu’une avancée esthétique n’est possible que si elle tient compte de la fonctionnalité, ils ont créé un mobilier aux formes originales. Le studio a participé à la diffusion d’une nouvelle culture du design grâce à des collaborations fructueuses avec des sociétés importantes telles que Olivetti, Arteluce et Arflex. BBPR est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/04-BBPR.jpg">
                        <legend class="artistes_legend">Canapé 2 places, BBPR – 1947,<br/>Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Louis-Géraud Castor</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Depuis l’ouverture de son atelier-fleurs en 2017 dans une cour apaisée du Marais parisien, Louis-Géraud Castor cultive l’esprit qui l’a guidé pendant quinze ans alors qu’il était marchand d’art et d’antiquités: toujours rechercher le beau et le transmettre dans son essentielle expression. Son matériel naturel est une palette avec laquelle il retrouve les racines de ces courants d’art qu’il admire: les couleurs, comme les Primitifs Hollandais ; la texture, à la manière de Jean-Michel Frank ; la main visible, celle de l’artisan. Il envisage une composition comme un objet-tandem, vivant et changeant. A la fois geste de l’élégance française et œuvre partiellement éphémère, le vase n’est plus un contenant mais le prolongement du vivant, un élément qu’il choisit aujourd’hui auprès d’artistes contemporains comme Mathilde Martin, Alana Wilson ou Denis Polge. A l’ornemental et l’ostentatoire, cet artisan engagé préfère l’exigence de la fraîcheur et de la saisonnalité. Chaque choix devient symbole du vivant et du vécu. Louis-Géraud Castor s’inscrit dans une démarche raisonnée où la fleur redevient un produit luxueux par le soin apporté à une production respectueuse de la terre et de ses rythmes.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/05-LOUIS-GERAUD-CASTOR.jpg">
                        <legend class="artistes_legend">Composition florale<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Maurizio Donzelli</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né à Brescia en Italie en 1958, Maurizio Donzelli travaille le dessin, la peinture, la sculpture, le textile et l’installation en interrogeant le point de rencontre entre le réel, sa perception et ses représentations artistiques. Nourri de réflexions philosophiques, il explore notre rapport à la nature et à la réalité à travers les phénomènes visuels liés à la couleur et aux images. Le dessin, qu’il considère comme une démarche intellectuelle, occupe avec les miroirs une place centrale dans son œuvre. Symboles de notre vision singulière, les miroirs reflètent l’inévitable inexactitude de notre compréhension du monde. Maurizio Donzelli est représenté par la Galerie Italienne (Paris).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-01.jpg">
                            <legend class="artistes_legend">Mirror 2418, Maurizio Donzelli – 2018,<br />technique mixte et verre prismatique, Galerie Italienne<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-02.jpg">
                            <legend class="artistes_legend">Mirror 4915 A, Maurizio Donzelli – 2015,<br />technique mixte, Galerie Italienne<br />Mirror 2614 A, Maurizio Donzelli – 2014,<br />technique mixte, Galerie Italienne<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/05-MAURIZIO-DONZELLI-03.jpg">
                            <legend class="artistes_legend">Oro, Maurizio Donzelli – 2021,<br />collage de toile dorée et résine sur bois, Galerie Italienne <br />© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Sophie Dries</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Sophie Dries est architecte et designer. Après avoir collaboré avec les Ateliers Jean Nouvel, l’agence Pierre Yovanovitch et Liaigre, elle crée son studio à Paris en 2014, puis un second à Milan en 2017. Son travail allie architecture, architecture d’intérieur et design dans une approche avant-gardiste qui fait dialoguer les techniques traditionnelles et la modernité. Elle crée des pièces de mobilier et des œuvres en céramique dans une recherche de « l’essence cosmique de la matière ». Sophie Dries est représentée par Nilufar (Milan).</p>
                    <p>Pour Genius Loci, Sophie Dries réalise un miroir en verre de Murano, en partenariat avec Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/06-SOPHIE-DRIES.jpg">
                        <legend class="artistes_legend">Miroir Alchemia, Sophie Dries – 2021,<br/>verre de Murano et minéraux, Nilufar gallery,<br/>création spéciale pour Genius Loci<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Latifa Echakhch</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en 1974, Latifa Echakhch est une artiste plasticienne franco-marocaine qui vit et travaille à Martigny (Suisse). Son œuvre, entre surréalisme et conceptualisme, questionne l’importance des symboles et traduit la fragilité du modernisme. Son travail a fait l’objet de plusieurs expositions personnelles dans des musées internationaux tels que le Centre Pompidou à Paris, la Tate Modern à Londres ou la Fondation Memmo à Rome. Elle a participé à des expositions de groupe au Musée d’Art moderne de la Ville de Paris, au Palais de Tokyo ou au MoMA PS1 à New York. Latifa Echakhch a remporté le Prix Marcel Duchamp en 2013 et le Zurich Art Prize en 2015. Elle a été choisie pour représenter la Suisse lors de la 59e Biennale d’art contemporain de Venise en 2022. Latifa Echakhch est représentée par kamel mennour (Paris/Londres).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/07-LATIFA-ECHAKHCH.jpg">
                        <legend class="artistes_legend">Bend the herbs from left to right, helping with the feet,<br/>make a large circle around, so large that could not see any way,<br/>Latifa Echakhch – 2019, encre de chine et encre sépia sur toile,<br/>kamel mennour (Paris / London)<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Jérôme Echenoz</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Designer sonore et compositeur, Jérôme Échenoz est le fondateur du studio Adorable et le co-fondateur d’Institubes, label indépendant de musique électronique. Ancien DJ et producteur de groupes de rap, il est parolier pour de nombreux interprètes de la jeune scène française. Il collabore régulièrement avec des designers et artistes sur des créations sonores.</p>
                    <p>Pour Genius Loci, Jérôme Échenoz a composé une musique originale, diffusée sous forme d’installation sonore dans la villa L’Ange Volant, en partenariat avec Bang & Olufsen.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/08-JEROME-ECHENOZ.jpg">
                        <legend class="artistes_legend">Portrait de Jérôme Échenoz<br/>© AKATRE</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Barnabé Fillion</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Barnabé Fillion est un parfumeur-créateur français. Il s’est consacré à l’art olfactif après s’être formé à la photographie et à la botanique. Depuis plus de dix ans, il conçoit des fragrances en utilisant des techniques traditionnelles de fabrication artisanale. Ses créations s’inspirent de ses nombreux voyages et sont composées à partir d’une majorité d’ingrédients naturels. Il recherche de nouvelles façons de créer des parfums en hybridant innovation et tradition. Barnabé Fillion collabore régulièrement avec des marques de mode et des artistes sur des projets spécifiques. Il est l’auteur des parfums de la marque australienne de cosmétiques bio Aesop, dont la dernière création Rozu a été réalisée en hommage à la designer et pionnière du modernisme Charlotte Perriand.</p>
                    <p>Pour Genius Loci, Barnabé Fillion a créé une installation olfactive inspirée de l’esprit de L’Ange Volant de Gio Ponti, diffusée dans les différentes pièces de la villa pendant l’exposition.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/09-BARNABE-FILLON.jpg">
                        <legend class="artistes_legend">Portrait de Barnabé Fillion<br/>© Aesop</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Piero Fornasetti</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Créateur atypique, artisan, graphiste et poète, Piero Fornasetti (1913-1988) est un personnage à part dans l’univers du design italien, sans doute l’un des plus prolifiques artistes décorateurs du XXe siècle. Entre art et artisanat, son œuvre foisonnante témoigne de son imagination sans limites, de sa virtuosité dans l’art de raconter des histoires à travers d’inimitables meubles, objets et décors. Piero Fornasetti est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/08-PIERO-FORNASETTI.jpg">
                        <legend class="artistes_legend">Trumeau, Piero Fornasetti – 1956,<br/>bois laqué, transfert lithographique effet « malachite »,<br/>Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Roberto Giulio Rida</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Roberto Guilio Rida est né à Milan en 1943. D’abord antiquaire, il fréquente les maîtres de Murano qui lui enseignent le métier du verre. A partir de 1973, il se spécialise dans les arts du XXe siècle et crée des luminaires et du mobilier habillé, recouvert ou détouré de verre et de cristal. Sans se soucier des courants, il entraîne dans un monde étrange où s’entrechoquent la science-fiction, la Renaissance italienne et l’intensité d’une lumière minérale. Roberto Giulio Rida est représenté par la Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/09-ROBERTO-GIULIO-RIDA.jpg">
                        <legend class="artistes_legend">Cabinet Penta , Roberto Giulio Rida – 2018,<br/>bois, verre et cristaux, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Laurent Grasso</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Roberto Guilio Rida est né à Milan en 1943. D’abord antiquaire, il fréquente les maîtres de Murano qui lui enseignent le métier du verre. A partir de 1973, il se spécialise dans les arts du XXe siècle et crée des luminaires et du mobilier habillé, recouvert ou détouré de verre et de cristal. Sans se soucier des courants, il entraîne dans un monde étrange où s’entrechoquent la science-fiction, la Renaissance italienne et l’intensité d’une lumière minérale. Roberto Giulio Rida est représenté par la Nilufar (Milan).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-01.jpg">
                            <legend class="artistes_legend">Future Herbarium, Laurent Grasso – 2020, <br />bronze blanc, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-02.jpg">
                            <legend class="artistes_legend">Sans Titre (sculpture enfant), Laurent Grasso – 2018, <br />bronze, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/10-LAURENT-GRASSO-03.jpg">
                            <legend class="artistes_legend">Studies into the past, Laurent Grasso,<br />huile et feuille de palladium sur bois, Courtesy Perrotin<br />© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Milène Guermont</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en 1981, l’artiste plasticienne Milène Guermont vit et travaille à Paris. Après des études d’ingénieur, elle intègre l’École Nationale Supérieure des Arts Décoratifs où elle se fait remarquer pour ses œuvres en béton polysensoriel conjuguant poésie et innovation. Elle crée le monument Instants pour le 70e anniversaire de la Seconde Guerre Mondiale à Utah Beach, la tombe Causse au cimetière Montparnasse et l’installation monumentale Phares présentée place de la Concorde à Paris en 2015, dans le cadre de « l’année internationale de la lumière », initiée par l’Unesco.</p>
                    <p>L’artiste conçoit actuellement la sculpture habitable Maison Guermont, une œuvre d’art total au cœur de Paris, réunissant plus de soixante entreprises et artisans.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/14-MILENE-GUERMONT.jpg">
                        <legend class="artistes_legend">Chemisier Cannetille, Milène Guermont – 2020,<br/>Jupe 1,2,3 Soleil, Milène Guermont – 2020,<br/>Souliers Cleopatra, Milène Guermont – 2020,<br/>pièces uniques, Collection Maison Guermont<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Camille Henrot</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en 1978 à Paris, Camille Henrot vit et travaille entre New York et Berlin. Ses œuvres témoignent d’une grande variété de médiums (installations, sculptures, dessins et vidéos). Lion d’argent de la meilleure jeune artiste à la biennale de Venise 2013 pour son œuvre Grosse Fatigue, le travail de Camille Henrot reconsidère les typologies d’objets et les systèmes de pensée établis. Camille Henrot présente son travail dans des expositions personnelles au Palais de Tokyo à Paris, au Hammer Museum à Los Angeles, à la Tokyo Opera City Art Gallery et à la Fondazione Memmo à Rome.  Camille Henrot est lauréate du Prix Nam June Paik en 2014 et du Edvard Munch Art Award en 2015. Camille Henrot est représentée par kamel mennour (Paris/Londres).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/12-CAMILLE-HENROT-01.jpg">
                            <legend class="artistes_legend">Amoeba, Camille Henrot – 2014,<br />bronze, métal et plastique, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/12-CAMILLE-HENROT-02.jpg">
                            <legend class="artistes_legend">L&#8217;Amour des animaux, Camille Henrot – 2014, (« Tropics of Love » series),<br />diptyque, encre de chine sur papier, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Mathias Kiss</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Mathias Kiss est un artiste contemporain français d’origine hongroise, né en 1972 à Poissy. Il vit et travaille à Paris. Il mène une réflexion autour de la dé-construction de l’héritage classique à la croisée de la peinture, de la sculpture et de l’architecture. Son travail provoque l’effacement des barrières entre l’art et l’artisanat, dans la lignée de courants comme le mouvement Arts & Crafts ou l’école du Bauhaus. Il expose au Musée des Arts Décoratifs en 2016, et au Palais des Beaux-Arts de Lille en 2019. En 2013, il obtient le Wallpaper Design Award puis le Young International Art Fair Brussels Award en 2016. Il a été président du jury du Grand Prix de la Création de la ville de Paris – catégorie métiers d’art – en 2020.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/13-MATHIAS-KISS-01.jpg">
                            <legend class="artistes_legend">Sans 90 degrés</em>, Mathias Kiss – 2021, <br />miroir, pièce unique, Galerie Armel Soyer<br />© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/13-MATHIAS-KISS-02.jpg">
                            <legend class="artistes_legend">Sans 90 degrés Sky Mirror, Mathias Kiss – 2021, <br />miroir, commission spéciale pour  Genius Loci,<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Studio KO</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Depuis leur rencontre à l’école d’architecture des Beaux-Arts de Paris et la création consécutive de leur studio en 2000, Karl Fournier et Olivier Marty apposent leur écriture singulière à toutes les échelles de leurs projets. Héritier d’une formation classique, le duo revendique une approche globale et immersive de son métier, de l’architecture à l’architecture d’intérieur en passant par le design de mobilier. Architecte du musée Yves-Saint-Laurent à Marrakech, de l’hôtel Chiltern Firehouse à Londres, auteur de la rénovation du mythique Château-Marmont à Los Angeles, Studio KO conçoit pour chacun de ses projets du mobilier pièce unique, source d’expérimentation inédite, de rencontres avec de nouvelles textures, techniques et lumières.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/14-STUDIO-KO.jpg">
                        <legend class="artistes_legend">À travers le miroir, Studio KO – 2020,<br/>table en verre<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Alicja Kwade</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en 1979 à Katowice, en Pologne, Alicja Kwade est une artiste plasticienne qui vit et travaille à Berlin. L’œuvre d’Alicja Kwade questionne notre réalité et reflète les notions de temps et d’espace dans notre vie quotidienne. Son travail sculptural explore la matière et recourt aussi bien à des objets issus du quotidien qu’à des matériaux bruts tels que le verre, le bois ou encore le cuivre. Lors de sa participation à la Biennale de Venise en 2017, Alicja Kwade a présenté l’œuvre WeltenLinie qui initiait son exploration singulière de l’espace et de sa perception. En 2019 elle crée une installation monumentale pour le toit du MET de New York. Alicja Kwade est représentée par kamel mennour (Paris/Londres).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/15-ALICJA-KWADE.jpg">
                        <legend class="artistes_legend">CitrusQuantum, Alicja Kwade – 2020,<br/>bronze et marbre, kamel mennour (Paris / London)<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Bas Smets & Eliane Le Roux</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architecte du paysage, le Belge Bas Smets a fondé son agence à Bruxelles en 2007. Il conçoit dans le monde entier des projets d’aménagements, du parc urbain au jardin privé. Il est notamment l’auteur des dix hectares du parc Thurn & Taxis à Bruxelles et du front de mer Himara en Albanie. Il a été choisi pour concevoir le Parc des Ateliers de la fondation Luma à Arles, en étroite collaboration avec les architectes Frank O. Ghery et Annabelle Selldorff. Eliane Le Roux est une architecte franco-argentine, graphiste et décoratrice. Elle a fondé en 2014 UNDR, un studio de création basé à Paris évoluant aux carrefours de l’art, du graphisme et de la technologie. Ensemble, le duo a conçu une série de pièces de mobilier d’extérieur dont le banc Salta, réalisé en pierre de Belgique et exposé en exclusivité dans Genius Loci.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/16-BAS-SMETS-ELIANE-LE-ROUX.jpg">
                        <legend class="artistes_legend">Salta Blue, Bas Smets & Eliane le Roux – 2021,<br/>banc en pierre bleue de Belgique<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Marion Mailaender</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architecte d’intérieur et designer, Marion Mailaender vit et travaille entre Paris et Marseille d’où elle est originaire. Figure de la nouvelle scène française, elle crée aussi bien des objets que des scénographies, réalise des projets résidentiels et commerciaux. Dans chacune de ses réalisations, la créatrice révèle son audace et son humour, se jouant des conventions et n’hésitant pas dépasser les limites de goût, à détourner références, codes, matériaux et typologies. Elle a collaboré avec l’artiste Sophie Calle, la créatrice de mode Amélie Pichard et le designer colombien Esteban Cortazar.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/17-MARION-MAILAENDER.jpg">
                        <legend class="artistes_legend">Chaise Superpesante, Marion Mailaender – 2017,<br/>bronze, pièce unique<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Nao Matsunaga</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né à Osaka au Japon en 1980, Nao Matsunaga vit et travaille à Londres. Son travail, influencé par les mythes, les symboles et les objets rituels aborde les notions de dualité et d’opposition en mêlant les médiums tels qu’argile et bois ou en juxtaposant les contraires: mat et brillant, organique et géométrique. Nao Matsunaga est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/18-NAO-MATSUNAGA.jpg">
                        <legend class="artistes_legend">Broker, Nao Matsunaga – 2019,<br/>porcelaine émaillée, Nilufar Gallery<br/>Gaze, Nao Matsunaga – 2019,<br/>porcelaine émaillée, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Julian Mayor</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né en 1976, l’artiste et designer Julian Mayor vit et travaille en Angleterre. Diplômé d’une Maîtrise au Royal College of Art en Design Products, il se fait connaître pour ses œuvres sculpturales en acier soudé. Chacune de ses œuvres est créée sur ordinateur puis élaborée dans son atelier. En 2004, il collabore avec le designer britannique Tom Dixon, expose au Victoria & Albert Museum à Londres et au Museum of Arts and Design, à New York. Julian Mayor est représenté par Armel Soyer (Paris).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/19-JULIAN-MAYOR.jpg">
                        <legend class="artistes_legend">Jagged Edge, Julian Mayor – 2021, sculpture en acier soudé,<br/>création spéciale pour Genius Loci, Galerie Armel Soyer<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Studio Nucleo</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Studio Nucleo est un collectif d’artistes et de designers basé à Turin en Italie. Fondé en 1999 par Stefania Fersini, Alice Carlotta Occleppo et Alexandra Denton, le studio est dirigé par Piergiorgio Robino. Nucleo intervient dans les champs de l’art contemporain, du design et de l’architecture. Inspiré par le temps, l’humain et l’évolution, le travail du studio mêle théories et expérimentations pour évoquer le passé, le présent et le futur. Les créations de Studio Nucleo ont été exposées dans le monde entier, notamment au Centre Pompidou à Paris et au MoMa à New York. Studio Nucleo est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/20-STUDIO-NUCLEO.jpg">
                        <legend class="artistes_legend">Banc Color Lenses, Piergiorgio Robino, Studio Nucleo – 2020,<br/>résine époxy, Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Damian O’Sullivan</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né en 1969 en Angleterre, le designer d’origine franco-irlandaise Damian O’Sullivan vit et travaille entre Paris et Bruxelles. Son approche de l’objet, qu’il soit accessoire de table, de mode, pièce de décoration ou de mobilier, repose sur une réflexion permanente sur l’usage et une place de choix accordée aux matériaux. Dans chacun de ses projets, Damian O’Sullivan cherche à surprendre, parfois à la limite du visible. Diplômé du Royal College of Art à Londres, il a enseigné à la Design Academy d’Eindhoven et a fondé le studio O’Sullivan à Bruxelles. Ses créations ont notamment été éditées par Hermès, Delvaux, Philips, Rosenthal et Louis Vuitton.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/21-DAMIAN-O-SULLIVAN-01.jpg">
                            <legend class="artistes_legend">Bougeoir Louange, Damian O’Sullivan – 2021,<br/>aluminium et laiton, Edition Studio O’Sullivan<br/>commission spéciale pour Genius Loci,<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/21-DAMIAN-O-SULLIVAN-02.jpg">
                            <legend class="artistes_legend">Vase Solange, Damian O’Sullivan – 2021,<br/>faïence, commission spéciale pour Genius Loci,<br/>Edition Studio O’Sullivan<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Ico Parisi</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architecte et designer, Domenico, dit Ico, Parisi (1916 – 1996) incarne le style moderne italien des années 1950. En 1945, Ico Parisi organise la première exposition de mobilier contemporain à Côme. Sa collaboration avec Gio Ponti, Lucio Fontana ou encore Bruno Munari influence sa vision de l’architecture et du design de mobilier. Il crée des intérieurs, du mobilier fait de bois et de métal, de la verrerie, des bijoux, des projets d’architecture, conçus seul ou avec sa femme Luisa. De nombreux fabricants éditent ses meubles (Singer & Sons, MIM, Cassina, Cappellini, Altamira…). Ico Parisi est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/22-ICO-PARISI.jpg">
                        <legend class="artistes_legend">Fauteuils, Ico Parisi – 1949,<br/>Nilufar Gallery<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Gio Ponti</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Architecte, designer, peintre, dessinateur, fondateur de la revue DOMUS qu’il lance en 1928, Gio Ponti fait partie des grands maîtres italiens dont l’œuvre protéiforme s’étend sur six décennies. Né à Milan en 1891 et disparu en 1979, Gio Ponti exprima sa créativité aussi bien dans des projets d’architecture publique et privée, des églises, des universités, des résidences. Designer prolifique, passionné par la céramique et les savoir-faire, il fut un ardent défenseur de l’art de vivre italien et un protagoniste majeur du design italien de l’après-guerre. Ses œuvres les plus connues sont la Tour Pirelli, construite de 1956 à 1960 à Milan, la villa Planchart à Caracas et la chaise Superleggera, créée pour Cassina en 1957. Conjugaison de néo-classicisme et de modernisme, la villa L’Ange Volant, à Garches, près de Paris – commanditée Tony Bouilhet et construite entre 1925 et 1927 -, représente sa première réalisation architecturale à l’étranger. Pour la première fois, Gio Ponti y pose les bases de son concept de Casa all’italiana. Des poignées de porte aux plafonds peints en passant par les miroirs gravés et les luminaires, il y dessine sa première esquisse d’œuvre d’art total.</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-01-1.jpg">
                            <legend class="artistes_legend">Fauteuils Première classe, Gio Ponti & Giulio Minoletti – 1950,<br/>modèles réalisés par Officine Breda pour la Première classe<br/>du train ETR 300 Settebello, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-02-1.jpg">
                            <legend class="artistes_legend">Angeli, Gio Ponti – 1970,<br/>acrylique sur plexiglas, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="2" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-03-1.jpg">
                            <legend class="artistes_legend">Angeli, Gio Ponti – 1970,<br/>acrylique sur plexiglas, Nilufar Gallery<br/>Bureau, Gio Ponti – 1957,<br/>pièce unique, Collection Tony & Carla Bouilhet, Nilufar Gallery<br/>Paire de fauteuils, Gio Ponti – 1953,<br/>noyer, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="3" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/26-GIO-PONTI-04-1.jpg">
                            <legend class="artistes_legend">Chaise, Gio Ponti – modèle Cassina de 1961,<br/>bois de frêne teinté à l’aniline et poli,<br/>tapisserie en alacantra vert<br/>Fauteuil Parco dei Principi, Gio Ponti – 1960,<br/>Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Agnès Sébyleau</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Née en 1961, l’artiste et plasticienne Agnès Sébyleau vit et travaille à Paris. Diplômée en cinéma et en Lettres Modernes, elle s’initie progressivement aux arts créatifs. Inspirée par l’aspect minimal des objets, elle confectionne des sculptures en ficelles crochetées, en grillage assemblé et en intissé cousu. Agnès Sébyleau est représentée par Armel Soyer (Paris). </p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/24-AGNES-SEBYLEAU.jpg">
                        <legend class="artistes_legend">Angelo, Agnès Sébyleau – 2021,<br/>lin blanc, Galerie Armel Soyer, pièce unique,<br/>création spéciale pour Genius Loci<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Jonathan Trayte</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Né en 1980 à Huddersfield au Royaume Uni, Jonathan Trayte vit et travaille à Margate dans le Kent. Inspiré par l’avidité de la société de consommation et l’influence de la publicité sur les prises de décision, le travail de Jonathan Trayte réinterprète le monde naturel en créant des facsimile surréalistes aux couleurs saturées dans des matériaux divers. Il explore la psychologie du désir à travers les surfaces, les matériaux, la lumière et la couleur. Il a participé à de nombreuses expositions internationales notamment en 2015 à la Royal Academy of Arts à Londres. En 2019, il a réalisé une installation monumentale commandée par Sculpture in the City pour la ville de Londres. Jonathan Trayte est représenté par Nilufar (Milan).</p></div></div>
                    <div class="artistes_images carousel">
                        <div data-id="0" class="artistes_image carousel_item active">
                            <img src="{{site.theme.path}}/assets/image/artistes/25-JONATHAN-TRAYTE-01.jpg">
                            <legend class="artistes_legend">Woman with Fruit, Jonathan Trayte – 2019,<br/>bronze, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div data-id="1" class="artistes_image carousel_item">
                            <img src="{{site.theme.path}}/assets/image/artistes/25-JONATHAN-TRAYTE-02.jpg">
                            <legend class="artistes_legend">Kaaawa Lawn, Johnathan Trayte – 2019,<br/>bronze, Nilufar Gallery<br/>© Jérémie Léon</legend>
                        </div>
                        <div class="prev_button"></div>
                        <div class="next_button"></div>
                    </div>
                </div>
                <div class="artistes_item">
                    <h6>Alix Waline & Sabatina Leccia</h6>
                    <div class="artistes_description"><div class="description_wrapper"><p class="mono">Formée aux Beaux-Arts de Paris, Alix Waline étudie le textile à l’école de La Cambre de Bruxelles. Inspirée par les cellules du corps humain, l’artiste s’initie à l’esthétique pointilliste et collabore avec des hôtels (le Chess Hôtel) et des restaurants (Kinugawa, Table et Akrame) à Paris avec la complicité de l’agence d’architecture d’intérieur Gilles & Boissier. Son dessin mêle les formes organiques et l’abstraction. Alix Waline est représentée par Armel Soyer (Paris).</p>
                    <p>Sabatina Leccia est une artiste française née en 1984 qui vit et travaille à Montreuil près de Paris. Ses œuvres oscillent entre l’art et l’artisanat. En 2012, elle est diplômée du MA Material Futures à la Central Saint Martin’s School of Art and Design à Londres où elle développe la broderie expérimentale. Avant d’installer son atelier à Paris, elle travaille comme brodeuse indépendante pour la haute couture. En 2015, elle expose sa série Peinture Broderie à la galerie Amélie de Borchgrave à Bruxelles. Sélectionnée pour une résidence d’art en Estonie, elle y développe Poetic Plastic.</p>
                    <p>En 2019, Sabatina Leccia est choisie par Patou pour broder le costume de l’académicienne Barbara Cassin en collaboration avec La Fabrique Nomade et le studio Baqué Molinié.</p></div></div>
                    <div class="artistes_images">
                        <div class="artistes_image"><img src="{{site.theme.path}}/assets/image/artistes/26-ALIX-WALINE-SABATINA-LECCIA.jpg">
                        <legend class="artistes_legend">Nucleus, Alix Waline & Sabatina Leccia – 2020,<br/>encre, calque et broderie sur papier Arches, Galerie Armel Soyer<br/>© Jérémie Léon</legend></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div data-anchor="commandes" class="page_part">
            <h2>Les Commandes spéciales</h2>
            <p>Plusieurs commandes spéciales réalisées pour Genius Loci et inspirées de l’esprit de L’Ange Volant prennent place dans la villa, à l’intérieur comme à l’extérieur.</p>
            <p>L’architecte <span class="yellow">Franklin Azzi</span> signe sa première intervention artistique avec Le Saint, une installation lumineuse en référence à la spiritualité du lieu et de son créateur. Conçue comme œuvre inaugurale de l’expérience Genius Loci, celle-ci flotte comme par magie dans la cour d’entrée de l’Ange Volant.</p>
            <p>L’artiste <span class="yellow">Mathias Kiss</span> déploie les ailes de l’ange de la villa sur la pelouse du jardin dessiné par Gio Ponti. Cette installation en feuilles d’inox poli symbolise l’ombre portée de l’ange volant.</p>
            <p>Dans la villa, l’architecte et designer <span class="yellow">Sophie Dries</span> dévoile un miroir en verre de Murano incrusté de pierres en référence à la passion de Gio Ponti pour les minéraux et à son obsession de la transparence. L’artiste anglais <span class="yellow">Julian Mayor</span> crée une table basse miroitante en acier soudé taillé comme un bloc de cristal. L’artiste espagnole <span class="yellow">Maloles Antignac</span> réalise une sculpture inspiré par l’iconographie de la main, l’une des thématiques iconiques de l’œuvre céramique de Gio Ponti. La sculpture textile d’<span class="yellow">Agnès Sébyleau</span> déploie ses ailes tentaculaires comme les doigts d’une main prodigieuse. Le designer franco-irlandais <span class="yellow">Damian O’Sullivan</span> présente un bougeoir double, inspiré du thème de l’union, hommage à la recherche de lumière et de légèreté du designer italien, ainsi qu’un vase qui conjugue la rondeur sensuelle et la rigueur géométrique dans une même forme.</p>
            <p>Le compositeur <span class="yellow">Jérôme Échenoz</span> a capturé l’esprit du lieu pour réaliser l’installation sonore qui accompagne le visiteur dans sa déambulation, de l’entrée jusqu’aux chambres à l’étage. Le nez <span class="yellow">Barnabé Fillion</span> fait, quant à lui, vibrer l’âme du lieu et les grands thèmes d’inspiration de <span class="yellow">Gio Ponti</span>, tels que le miroir, la transparence et la légèreté, à travers un parfum créé sur-mesure pour Genius Loci, qui se donnera à sentir par étapes successives, note après note.</p>
            <p>Plusieurs commandes spéciales réalisées pour Genius Loci et inspirées de l’esprit de L’Ange Volant prennent place dans la villa, à l’intérieur comme à l’extérieur.</p>
            <p>Avec l’œuvre <span class="italique">Spectral Ponti</span> réalisée avec la collaboration de Diorama productions pour Genius Loci, l’artiste <span class="yellow">Laurent Grasso</span> cherche à explorer une dimension surnaturelle de l’esprit du lieu. Son film conduit le spectateur à travers la maquette virtuelle de la villa L’Ange Volant de Gio Ponti au moyen de scanners LIDAR. Il s’inscrit dans la lignée de sa série <span class="italique">Spectral Orsay</span>, récemment réalisée au sein du musée d’Orsay. <span class="italique">Spectral Ponti</span> révèle sa vision à la fois ultra-contemporaine et au-delà du temps de la villa. Habitué à travers ses œuvres à plonger le spectateur dans un monde troublant qui efface les limites spatio-temporelles et fait surgir le mystère, Laurent Grasso propose un voyage dans le temps. Son télescopage des mondes fait écho à la conception de Gio Ponti pour qui l’architecture se voulait une suite de spectacles.</p>
        </div>
        <div data-anchor="partenaires" class="partenaires_part page_part">
            <h2 id="partenaires">Les Partenaires</h2>
            <div class="logos ap">
                <div class="logos_first">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_ambassade.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_lange.png"></div>
                </div>
                <div class="logos_second">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_christophle.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_diorama.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_bang&olufsen.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_metaphores.png"></div>
                </div>
                <div class="logos_third">
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_monte_paschi.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_aurige.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_Dunob.png"></div>
                    <div class="logos_wrapper"><img src="{{site.theme.uri}}/assets/logos/logo_castor.png"></div>
                </div>
            </div>
            <div class="partenaires">
                <div class="partenaires_item">
                    <h6>Villa L’Ange Volant</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">C’est dans un écrin de verdure entre Paris et Versailles que Gio Ponti a imaginé en 1927 la villa L’Ange volant pour la famille Bouilhet, la famille fondatrice et dirigeante de l’orfèvre Christofle. Envisagée comme un tout, de la poignée de porte au jardin, cette maison de campagne est l’unique réalisation de l’architecte milanais en France. Longtemps réservée au cercle familial et amical, l’Ange Volant a récemment ouvert ses portes aux amoureux de l’œuvre de Gio Ponti, le temps d’une visite ou d’un séjour.</p>
                            <p class="small">Pour toutes informations sur les modalités de visite ou de location: <br/>
                            <a href="http://angevolant.com/" target="_blank" rel="noreferrer noopener">angevolant.com</a><br/>
                            <a href="https://www.instagram.com/villa.angevolant/" data-type="URL" target="_blank" rel="noreferrer noopener">@villa.angevolant</a></p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Christofle</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Charles Christofle a vingt-cinq ans en 1830, lorsqu’il crée la société qui porte son nom. La Maison acquiert une réputation de savoir-faire et d’élégance grâce à ses clients prestigieux: le roi Louis-Philippe, Napoléon&nbsp;III, le paquebot Normandie qui prend la mer avec plus de 40 000 pièces d’orfèvrerie à son bord, et grâce aux nombreuses récompenses des Expositions universelles, de 1855 à 1937. Au point que la marque rejoint les collections du musée des Arts décoratifs et du Louvre. Maison historique, Christofle vit également avec son temps et séduit les jeunes générations grâce à ses créations d’arts de la table contemporaines qui réinventent la convivialité d’aujourd’hui et de demain en faisant de l’art du partage un véritable art de vivre. Christofle signe de nombreuses collaborations à succès avec des artistes et designers&nbsp;dans le but de créer des pièces qui savent répondre avec élégance aux usages contemporains.</p>
                            <p class="small">
                                <a href="http://www.christofle.com" target="_blank" rel="noreferrer noopener">christofle.com</a><br/>
                                <a href="https://www.instagram.com/christofle" target="_blank" rel="noreferrer noopener">@christofle</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Diorama productions</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Diorama est une société de production 3D, fondée en 2016 par Gilberto Bonelli et Gianni Vesentini, tous deux diplômés de la faculté d’architecture Politecnico à Milan. Basée à Milan, Paris et Vérone en Italie, Diorama est spécialisée en direction artistique et création d’images, vidéos, réalité virtuelles et contenus digitaux pour l’architecture, le design, la scénographie, la mode, l’urbanisme, l’art et le cinéma.</p>
                            <p class="small">
                                <a href="http://www.diorama.eu/" target="_blank" rel="noreferrer noopener">diorama.eu</a><br>
                                <a href="https://www.instagram.com/diorama.eu" target="_blank" rel="noreferrer noopener">@diorama.eu</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Bang &amp; Olufsen</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Bang &amp; Olufsen est une marque d’équipements audiovisuels haut de gamme fondée en 1925 à Struer, au Danemark, par Peter Bang et Svend Olufsen, deux pionniers dont l’engagement et la vision restent aujourd’hui encore au cœur de la stratégie de l’entreprise. Depuis près d’un siècle, Bang &amp; Olufsen s’efforce de repousser toujours plus loin les limites de la technologie, ce qui lui a permis de se maintenir à la pointe de l’innovation en matière de son.</p>
                            <p class="small">
                                <a href="http://www.bang-olufsen.com/" target="_blank" rel="noreferrer noopener">bang-olufsen.com</a><br>
                                <a href="https://www.instagram.com/bangolufsen" target="_blank" rel="noreferrer noopener">@bangolufsen</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Metaphores</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Précurseur dans le tissage et l’édition d’étoffes pour la décoration intérieure, Métaphores est une marque inspirante et contemporaine reconnue, rattachée à la filière textile Hermès.</p>
                            <p>Signature française par excellence, Métaphores fédère les savoir-faire centenaires de Verel de Belval pour les soieries d’ameublement et Le Crin pour le tissage manuel du crin, ainsi que la maîtrise des matières textiles d’une inventivité sensorielle et visuelle remarquables.</p>
                            <p>Les étoffes Métaphores naissent d’une subtile alchimie entre la matière, l’histoire et le geste, soutenue par le choix rigoureux de ses partenaires et la sélection de ses matières premières. Une démarche de développement durable globale qui oriente les collections vers un plus faible impact environnemental.</p>
                            <p class="small">
                                <a rel="noreferrer noopener" href="https://www.metaphores.com/" data-type="URL" data-id="https://www.metaphores.com/" target="_blank">metaphores.com</a><br>
                                <a rel="noreferrer noopener" href="https://www.instagram.com/metaphoresparis/" data-type="URL" data-id="https://www.instagram.com/metaphoresparis/" target="_blank">@metaphores</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="partenaires_item">
                    <h6>Castor</h6>
                    <div class="partenaires_description">
                        <div class="description_wrapper">
                            <p class="mono">Depuis l&#8217;ouverture de son atelier-fleurs en 2017 dans une cour apaisée du Marais parisien, Louis-Géraud Castor cultive l&#8217;esprit qui l&#8217;a guidé pendant quinze ans alors qu&#8217;il était marchand d&#8217;art et d&#8217;antiquités&nbsp;: toujours rechercher le beau et le transmettre dans son essentielle expression. Son matériel naturel est une palette avec laquelle il retrouve les racines de ces courants d’art qu’il admire: les couleurs, comme les Primitifs Hollandais ; la texture, à la manière de Jean-Michel Frank ; la main visible, celle de l’artisan. Il envisage une composition comme un objet-tandem, vivant et changeant. A la fois geste de l’élégance française et œuvre partiellement éphémère, le vase n’est plus un contenant mais le prolongement du vivant, un élément qu’il choisit aujourd’hui auprès d’artistes contemporains comme Mathilde Martin, Alana Wilson ou Denis Polge. A l’ornemental et l’ostentatoire, cet artisan engagé préfère l’exigence de la fraîcheur et de la saisonnalité. Chaque choix devient symbole du vivant et du vécu. Louis-Géraud Castor s’inscrit dans une démarche raisonnée où la fleur redevient un produit luxueux par le soin apporté à une production respectueuse de la terre et de ses rythmes.</p>
                            <p class="small">
                                <a rel="noreferrer noopener" href="https://www.castor-fleuriste.com/" data-type="URL" data-id="https://www.castor-fleuriste.com/" target="_blank">castor-fleuriste.com</a><br>
                                <a rel="noreferrer noopener" href="https://www.instagram.com/castorfleuriste/" data-type="URL" data-id="https://www.instagram.com/castorfleuriste/" target="_blank">@castorfleuriste</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'fr_footer.twig' %}
    </div>
</div>