<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
	{% include 'html-head.twig' %}
</head>
<header class="header_pass">
    <div class="header_item"><a href="https://geniusloci-experience.com/" target="_blank">Visit Geniusloci-experience.com</a></div>
    <div class="header_item"><a href="mailto:contact@geniusloci-experience.com" class="item" target="_blank">Contact</a></div>
</header>
<body class="body" data-theme="light">
	<div class="root">
        {% block content %}

        <main id="content">
            <section class="page pass" data-namespace="pass" dir="ltr" data-part="pass">
                <div class="logo">{% include 'logo_genius.twig'%}</div>
                <h3 class="pass_base">2021 edition highlights</h3>
                <div class="content">
                    <video class="video_module" id="player" width="100%" height="auto" muted>
                        <source class="video_link" type="video/mp4" src="/wp-content/themes/genius/assets/video/genius_loci_a_l'ange_volant.mp4">
                    </video>
                    <p class="title_s">GENIUS LOCI DOCUMENTS</p>
                    <div class="content_item">
                        <a href="/Catalogue_GeniusLoci2021.pdf" download="Catalogue_GeniusLoci2021.pdf">Download the catalogue of the exhibition</a><br>
                        <a href="/PressReview_GeniusLoci2021.pdf" download="PressReview_GeniusLoci2021.pdf">Download the press review</a>
                    </div>
                </div>
            </section>
        </main>

        {% include 'fr_footer.twig' %}

        {% endblock %}
        <script>
			window.__WP_VARS = {
				THEME_URI: '{{site.theme.uri}}',
				BASE_URL: '{{site.url}}',
				RELATIVE_BASE_URL: '{{site.url|relative}}',
			}
		</script>
		<script src="{{site.theme.link}}/bundle.js?key={{random(50, 1000)}}" defer></script>

	</div>
	{{ wp_footer }}
</body>
</html>
